/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * proxima-nova:
 *   - http://typekit.com/eulas/00000000000000007735e603
 *   - http://typekit.com/eulas/00000000000000007735e60d
 *   - http://typekit.com/eulas/00000000000000007735e609
 *   - http://typekit.com/eulas/00000000000000007735e616
 *   - http://typekit.com/eulas/00000000000000007735e605
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-06-30 17:07:37 UTC"}*/

@import url("https://use.typekit.net/p.typekit.net/p~249eec.css");

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l/index~d58094.html") format("woff2"),url("./af/2555e1/00000000000000007735e603/30/d/index~d58094.html") format("woff"),url("./af/2555e1/00000000000000007735e603/30/a/index~d58094.html") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/l/index~d4d285.html") format("woff2"),url("./af/78aca8/00000000000000007735e60d/30/d/index~d4d285.html") format("woff"),url("./af/78aca8/00000000000000007735e60d/30/a/index~d4d285.html") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l/index~85be9c.html") format("woff2"),url("./af/efe4a5/00000000000000007735e609/30/d/index~85be9c.html") format("woff"),url("./af/efe4a5/00000000000000007735e609/30/a/index~85be9c.html") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l/index~3739d4.html") format("woff2"),url("./af/3322cc/00000000000000007735e616/30/d/index~3739d4.html") format("woff"),url("./af/3322cc/00000000000000007735e616/30/a/index~3739d4.html") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/23e139/00000000000000007735e605/30/l/index~7f1a2e.html") format("woff2"),url("./af/23e139/00000000000000007735e605/30/d/index~7f1a2e.html") format("woff"),url("./af/23e139/00000000000000007735e605/30/a/index~7f1a2e.html") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
